{% load i18n flex_menu %}

<div id="userNavOffcanvas"
     class="offcanvas offcanvas-end"
     tabindex="-1"
     aria-labelledby="userNavOffcanvasHeader">
  <div id="userNavOffcanvasHeader" class="offcanvas-header">
    {% include "account_management/partials/user_display.html" %}
    <button type="button"
            class="btn-close ms-auto"
            data-bs-dismiss="offcanvas"
            aria-label="{% trans "Close" %}"></button>
  </div>
  <div class="offcanvas-body">{% render_menu "AccountMenu" template="account_management/menu.html" %}</div>
  {% block footer %}
  {% endblock footer %}

</div>
