{% load allauth %}

<div class="card mb-3">
  {% block content %}
    <div class="card-body">
      <h6 class="card-title">
        {% block title %}
          {% slot title %}
          {% endslot %}
        {% endblock title %}

      </h6>
      {% block body %}
        {% slot body %}
        {% endslot %}
      {% endblock body %}

    </div>
    {% block actions %}
      {% if slots.actions %}
        <div class="card-footer">
          {% slot actions %}
          {% endslot %}
        </div>
      {% endif %}
    {% endblock actions %}
  {% endblock content %}

</div>
