{% extends "allauth/layouts/base.html" %}
{% load i18n allauth static %}

{% block css %}
  <style>
    .entrance-wrapper {
      background-size: cover;
      background-position: center;
    }
  </style>
{% endblock css %}

{% block body %}
  <div class="entrance-wrapper hstack align-items-center vh-100 w-100 overflow-auto" style="background-image:url({% static "img/world_map.webp" %})">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-8 col-lg-6">
          {% if messages %}
            {% for message in messages %}
              {% element alert level=message.tags %}
                {% slot message %}
                  {{ message }}
                {% endslot %}
              {% endelement %}
            {% endfor %}
          {% endif %}
          <div class="bg-white shadow rounded-4">
            <div class="px-3 px-md-5 py-4">
              <div class="{% block wrapper_class %}{% endblock wrapper_class %}
                 ">
                {% block pre_content %}
                {% endblock pre_content %}

                {% block content %}
                {% endblock content %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
